html, body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: slategrey;
}

a {
    color: steelblue;
}


.formSingUp{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.columnForm{
    display: flex;
    flex-direction: column;
}