{% extends "base.html" %}
{% block content %}
    <div class="formSingUp" >
    <div>
      <div class='columnForm'>
        Login:
        <input value="" type="text" id='input_login'>
        Password:
        <input value="" type="password" id='input_passw'>
      </div>

      <input value="Sing Up" onclick="SingUpMetod()" type="button" style="margin: 0 auto; display: flex;"> 
    </div>
      <script>

        function getValue(idElement){
          anyV = document.getElementById(idElement).value
          document.getElementById(idElement).value = ''
          return anyV
        }

         async function SingUpMetod(){

          login = getValue('input_login')
          passw = getValue('input_passw')


          const url = './Login';
          const data = { "login" :  login, "password" : passw};

          try {
            const response = await fetch(url, {
              method: 'POST', // или 'PUT'
              body: JSON.stringify(data), // данные могут быть 'строкой' или {объектом}!
              headers: {
                'Content-Type': 'application/json'
              }
            });
            const json = await response.json();

            console.log('Успех:', JSON.stringify(json));

            if(json.rederect === "ok"){
              document.location.href = json.url
            }
            
          } catch (error) {
            console.error('Ошибка:', error);
          }
        }
      </script>
    </div>
{% endblock %}
